# Import Pandas Library

In [1]:
import pandas as pd

# Data Structures

## First: Series

In [2]:
lst = [1,2,3,4,5] 
s = pd.Series(lst)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# change dtype
s = pd.Series(lst, dtype= float)
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [4]:
# choose indexes
s = pd.Series(lst, index=['A', 'B', 'C', 'D', 'E'])
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [5]:
index = [10, 12, 13, 14]
names = ['Nourah', 'Sarah', 'Ahmed', 'Lama']
s2 = pd.Series(names, index=index)
s2

10    Nourah
12     Sarah
13     Ahmed
14      Lama
dtype: object

In [6]:
# use dictionary 
names = {10: 'Nourah', 12: 'Sarah', 13: 'Ahmed', 14: 'Lama'}
s3 = pd.Series(names)
s3

10    Nourah
12     Sarah
13     Ahmed
14      Lama
dtype: object

In [7]:
# change the indexes
s3.index = [10, 20, 30, 40]
s3

10    Nourah
20     Sarah
30     Ahmed
40      Lama
dtype: object

In [8]:
fruit1 = {'Apple': 40 , 'Banana': 50, 'Orange': 60}
ser1 = pd.Series(fruit1)

fruit2 = {'Apple': 30 , 'Strawberry': 20, 'Orange': 20}
ser2 = pd.Series(fruit2)

print(ser1)
print()
print(ser2)
print()
print(ser1 + ser2)

Apple     40
Banana    50
Orange    60
dtype: int64

Apple         30
Strawberry    20
Orange        20
dtype: int64

Apple         70.0
Banana         NaN
Orange        80.0
Strawberry     NaN
dtype: float64

In [9]:
s3

10    Nourah
20     Sarah
30     Ahmed
40      Lama
dtype: object

In [10]:
# Selecting
print(s3[20]) # index = 20

Sarah

In [11]:
# Slicing like numpy [start, end(execluded), gap]
# Note that the slice does not use the index labels as references, but the position
s3[:3] # from position 0 to 2

10    Nourah
20     Sarah
30     Ahmed
dtype: object

In [12]:
s3[1:] # from 1 to max

20    Sarah
30    Ahmed
40     Lama
dtype: object

In [13]:
s3[2:4] # from 2 to 3

30    Ahmed
40     Lama
dtype: object

In [14]:
s3[:-1] # from 0 to last item(execluded)

10    Nourah
20     Sarah
30     Ahmed
dtype: object

In [15]:
# Add elements 
s4 = pd.Series({50: 'Ahmed', 60: 'Nada'})
s3 = s3.append(s4)
s3

/var/folders/b1/p4lqt35d7gl61cs05z1pf7l00000gn/T/ipykernel_3728/679673619.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3 = s3.append(s4)

10    Nourah
20     Sarah
30     Ahmed
40      Lama
50     Ahmed
60      Nada
dtype: object

In [18]:
x = pd.Series(['a', 'b'])
y = pd.Series(['c', 'd'])
z = pd.concat([x, y])
z

0    a
1    b
0    c
1    d
dtype: object

In [20]:
z = pd.concat([x, y],ignore_index=True)
z

0    a
1    b
2    c
3    d
dtype: object

In [21]:
s3

10    Nourah
20     Sarah
30     Ahmed
40      Lama
50     Ahmed
60      Nada
dtype: object

In [22]:
# delete an element 
s3.drop(60)

10    Nourah
20     Sarah
30     Ahmed
40      Lama
50     Ahmed
dtype: object

In [23]:
# drop duplicate elements
s3.drop_duplicates()

10    Nourah
20     Sarah
30     Ahmed
40      Lama
60      Nada
dtype: object

In [24]:
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [25]:
s4 = s.copy()
s4

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [26]:
s4 = s4*3
s4

A     3
B     6
C     9
D    12
E    15
dtype: int64

In [27]:
s4.add(s)

A     4
B     8
C    12
D    16
E    20
dtype: int64

In [28]:
s5 = pd.Series({'A': 6, 'B': 8})
s5 = s5.add(s)

In [29]:
s5 # you have to save the result

A     7.0
B    10.0
C     NaN
D     NaN
E     NaN
dtype: float64

In [30]:
s4.sub(s)

A     2
B     4
C     6
D     8
E    10
dtype: int64

In [31]:
s4.mul(s)

A     3
B    12
C    27
D    48
E    75
dtype: int64

In [32]:
s4.div(s)

A    3.0
B    3.0
C    3.0
D    3.0
E    3.0
dtype: float64

## Second: DataFrame

### A- Creating a new DataFrame from the scratch

In [36]:
data = {'SalesPerson': ['Kathey', 'Michael', 'William', 'Kathey', 'William', 'Kathey', 'Michael'],
        'Region': ['East', 'West', 'North', 'South', 'North', 'North', 'East'],
        'OrderAmount': [600, 700, 400, 500, 400, 700, 800],
        'Month': ['Jan', 'Feb', 'Feb', 'Mar', 'May', 'Apr', 'May'],
        'isAccepted': [True, False, False, True, True, True, False]
       }

SalesDF = pd.DataFrame(data, columns=['SalesPerson', 'Region', 'OrderAmount', 'Month', 'isAccepted'])
SalesDF

  SalesPerson Region  OrderAmount Month  isAccepted
0      Kathey   East          600   Jan        True
1     Michael   West          700   Feb       False
2     William  North          400   Feb       False
3      Kathey  South          500   Mar        True
4     William  North          400   May        True
5      Kathey  North          700   Apr        True
6     Michael   East          800   May       False

In [34]:
data = {'year': [2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012],
        'team': ['FCBarcelona', 'FCBarcelona', 'FCBarcelona', 'RMadrid', 'RMadrid', 'RMadrid', 'ValenciaCF',
                 'ValenciaCF', 'ValenciaCF'],
        'wins':   [30, 28, 32, 29, 32, 26, 21, 17, 19],
        'draws':  [6, 7, 4, 5, 4, 7, 8, 10, 8],
        'losses': [2, 3, 2, 4, 2, 5, 9, 11, 11]}

football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'draws', 'losses'])
football

   year         team  wins  draws  losses
0  2010  FCBarcelona    30      6       2
1  2011  FCBarcelona    28      7       3
2  2012  FCBarcelona    32      4       2
3  2010      RMadrid    29      5       4
4  2011      RMadrid    32      4       2
5  2012      RMadrid    26      7       5
6  2010   ValenciaCF    21      8       9
7  2011   ValenciaCF    17     10      11
8  2012   ValenciaCF    19      8      11

### B- Reading tabular data

In [40]:
edu = pd.read_csv('/Users/Noura/Nourah/DS/DS/6-pandas/educ_figdp_1_Data.csv')
edu

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e
...,...,...,...,...,...
379,2007,Finland,Total public expenditure on education as % of ...,5.90,NaN
380,2008,Finland,Total public expenditure on education as % of ...,6.10,NaN
381,2009,Finland,Total public expenditure on education as % of ...,6.81,NaN
382,2010,Finland,Total public expenditure on education as % of ...,6.85,NaN
383,2011,Finland,Total public expenditure on education as % of ...,6.76,NaN

In [41]:
# you can also put educ_figdp_1_Data.csv on anacond floder and read the file without need to identify the path
edu = pd.read_csv('educ_figdp_1_Data.csv')
edu

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e
...,...,...,...,...,...
379,2007,Finland,Total public expenditure on education as % of ...,5.90,NaN
380,2008,Finland,Total public expenditure on education as % of ...,6.10,NaN
381,2009,Finland,Total public expenditure on education as % of ...,6.81,NaN
382,2010,Finland,Total public expenditure on education as % of ...,6.85,NaN
383,2011,Finland,Total public expenditure on education as % of ...,6.76,NaN

In [43]:
#to show entire the file
#pd.set_option("display.max_rows", None, "display.max_columns", None)
#edu = pd.read_csv('educ_figdp_1_Data.csv')
#edu

In [44]:
edu.dtypes

TIME                   int64
GEO                   object
INDIC_ED              object
Value                 object
Flag and Footnotes    object
dtype: object

In [45]:
# na_values >> Additional strings to recognize as NA/NaN. 
# usecols >> Return a subset of the columns.
# Pandas uses the special value NaN (not a number) to represent missing values.
edu = pd.read_csv('educ_figdp_1_Data.csv', na_values=':', usecols=['TIME', 'GEO', 'Value'])
edu

     TIME                                               GEO  Value
0    2000                     European Union (28 countries)    NaN
1    2001                     European Union (28 countries)    NaN
2    2002                     European Union (28 countries)   5.00
3    2003                     European Union (28 countries)   5.03
4    2004                     European Union (28 countries)   4.95
5    2005                     European Union (28 countries)   4.92
6    2006                     European Union (28 countries)   4.91
7    2007                     European Union (28 countries)   4.92
8    2008                     European Union (28 countries)   5.04
9    2009                     European Union (28 countries)   5.38
10   2010                     European Union (28 countries)   5.41
11   2011                     European Union (28 countries)   5.25
12   2000                     European Union (27 countries)   4.91
13   2001                     European Union (27 countries)   4.99
14   2002                     European Union (27 countries)   5.00
15   2003                     European Union (27 countries)   5.04
16   2004                     European Union (27 countries)   4.95
17   2005                     European Union (27 countries)   4.92
18   2006                     European Union (27 countries)   4.91
19   2007                     European Union (27 countries)   4.93
20   2008                     European Union (27 countries)   5.04
21   2009                     European Union (27 countries)   5.38
22   2010                     European Union (27 countries)   5.41
23   2011                     European Union (27 countries)   5.25
24   2000                     European Union (25 countries)   4.94
25   2001                     European Union (25 countries)   5.02
26   2002                     European Union (25 countries)   5.03
27   2003                     European Union (25 countries)   5.06
28   2004                     European Union (25 countries)   4.98
29   2005                     European Union (25 countries)   4.95
30   2006                     European Union (25 countries)   4.93
31   2007                     European Union (25 countries)   4.95
32   2008                     European Union (25 countries)   5.06
33   2009                     European Union (25 countries)   5.41
34   2010                     European Union (25 countries)   5.46
35   2011                     European Union (25 countries)   5.31
36   2000                          Euro area (18 countries)    NaN
37   2001                          Euro area (18 countries)    NaN
38   2002                          Euro area (18 countries)   4.87
39   2003                          Euro area (18 countries)   4.89
40   2004                          Euro area (18 countries)   4.80
41   2005                          Euro area (18 countries)   4.72
42   2006                          Euro area (18 countries)   4.69
43   2007                          Euro area (18 countries)   4.79
44   2008                          Euro area (18 countries)   4.94
45   2009                          Euro area (18 countries)   5.31
46   2010                          Euro area (18 countries)   5.28
47   2011                          Euro area (18 countries)   5.15
48   2000                          Euro area (17 countries)    NaN
49   2001                          Euro area (17 countries)    NaN
50   2002                          Euro area (17 countries)   4.86
51   2003                          Euro area (17 countries)   4.89
52   2004                          Euro area (17 countries)   4.80
53   2005                          Euro area (17 countries)   4.72
54   2006                          Euro area (17 countries)   4.69
55   2007                          Euro area (17 countries)   4.79
56   2008                          Euro area (17 countries)   4.94
57   2009                          Euro area (17 countries)   5.31
58   2010                          Euro area (17 countries)   5.28
59   2011                          Euro area (17 countries)   5.15
60   2000                          Euro area (15 countries)    NaN
61   2001                          Euro area (15 countries)   4.98
62   2002                          Euro area (15 countries)   5.01
63   2003                          Euro area (15 countries)   5.04
64   2004                          Euro area (15 countries)   4.96
65   2005                          Euro area (15 countries)   4.89
66   2006                          Euro area (15 countries)   4.87
67   2007                          Euro area (15 countries)   4.81
68   2008                          Euro area (15 countries)   4.95
69   2009                          Euro area (15 countries)   5.32
70   2010                          Euro area (15 countries)   5.29
71   2011                          Euro area (15 countries)   5.16
72   2000                          Euro area (13 countries)    NaN
73   2001                          Euro area (13 countries)   4.97
74   2002                          Euro area (13 countries)   5.00
75   2003                          Euro area (13 countries)   5.04
76   2004                          Euro area (13 countries)   4.95
77   2005                          Euro area (13 countries)   4.89
78   2006                          Euro area (13 countries)   4.87
79   2007                          Euro area (13 countries)   4.80
80   2008                          Euro area (13 countries)   4.94
81   2009                          Euro area (13 countries)   5.32
82   2010                          Euro area (13 countries)   5.28
83   2011                          Euro area (13 countries)   5.15
84   2000                                           Belgium    NaN
85   2001                                           Belgium   5.99
86   2002                                           Belgium   6.09
87   2003                                           Belgium   6.02
88   2004                                           Belgium   5.95
89   2005                                           Belgium   5.92
90   2006                                           Belgium   5.98
91   2007                                           Belgium   6.00
92   2008                                           Belgium   6.43
93   2009                                           Belgium   6.57
94   2010                                           Belgium   6.58
95   2011                                           Belgium   6.55
96   2000                                          Bulgaria   3.88
97   2001                                          Bulgaria   3.70
98   2002                                          Bulgaria   3.94
99   2003                                          Bulgaria   4.09
100  2004                                          Bulgaria   4.40
101  2005                                          Bulgaria   4.25
102  2006                                          Bulgaria   4.04
103  2007                                          Bulgaria   3.88
104  2008                                          Bulgaria   4.44
105  2009                                          Bulgaria   4.58
106  2010                                          Bulgaria   4.10
107  2011                                          Bulgaria   3.82
108  2000                                    Czech Republic   3.83
109  2001                                    Czech Republic   3.93
110  2002                                    Czech Republic   4.15
111  2003                                    Czech Republic   4.32
112  2004                                    Czech Republic   4.20
113  2005                                    Czech Republic   4.08
114  2006                                    Czech Republic   4.42
115  2007                                    Czech Republic   4.05
116  2008                                    Czech Republic   3.92
117  2009                                    Czech Republic   4.36
118  2010                                    Czech Republic   4.25
119  2011                                    Czech Republic   4.51
120  2000                                           Denmark   8.28
121  2001                                           Denmark   8.44
122  2002                                           Denmark   8.44
123  2003                                           Denmark   8.33
124  2004                                           Denmark   8.43
125  2005                                           Denmark   8.30
126  2006                                           Denmark   7.97
127  2007                                           Denmark   7.81
128  2008                                           Denmark   7.68
129  2009                                           Denmark   8.74
130  2010                                           Denmark   8.81
131  2011                                           Denmark   8.75
132  2000  Germany (until 1990 former territory of the FRG)   4.45
133  2001  Germany (until 1990 former territory of the FRG)   4.51
134  2002  Germany (until 1990 former territory of the FRG)   4.72
135  2003  Germany (until 1990 former territory of the FRG)   4.74
136  2004  Germany (until 1990 former territory of the FRG)   4.62
137  2005  Germany (until 1990 former territory of the FRG)   4.57
138  2006  Germany (until 1990 former territory of the FRG)   4.43
139  2007  Germany (until 1990 former territory of the FRG)   4.49
140  2008  Germany (until 1990 former territory of the FRG)   4.57
141  2009  Germany (until 1990 former territory of the FRG)   5.06
142  2010  Germany (until 1990 former territory of the FRG)   5.08
143  2011  Germany (until 1990 former territory of the FRG)   4.98
144  2000                                           Estonia   5.57
145  2001                                           Estonia   5.24
146  2002                                           Estonia   5.47
147  2003                                           Estonia   5.29
148  2004                                           Estonia   4.92
149  2005                                           Estonia   4.88
150  2006                                           Estonia   4.70
151  2007                                           Estonia   4.72
152  2008                                           Estonia   5.61
153  2009                                           Estonia   6.03
154  2010                                           Estonia   5.66
155  2011                                           Estonia   5.16
156  2000                                           Ireland   4.29
157  2001                                           Ireland   4.24
158  2002                                           Ireland   4.27
159  2003                                           Ireland   4.35
160  2004                                           Ireland   4.66
161  2005                                           Ireland   4.72
162  2006                                           Ireland   4.73
163  2007                                           Ireland   4.92
164  2008                                           Ireland   5.67
165  2009                                           Ireland   6.43
166  2010                                           Ireland   6.41
167  2011                                           Ireland   6.15
168  2000                                            Greece   3.71
169  2001                                            Greece   3.50
170  2002                                            Greece   3.57
171  2003                                            Greece   3.56
172  2004                                            Greece   3.83
173  2005                                            Greece   4.09
174  2006                                            Greece    NaN
175  2007                                            Greece    NaN
176  2008                                            Greece    NaN
177  2009                                            Greece    NaN
178  2010                                            Greece    NaN
179  2011                                            Greece    NaN
180  2000                                             Spain   4.28
181  2001                                             Spain   4.24
182  2002                                             Spain   4.25
183  2003                                             Spain   4.28
184  2004                                             Spain   4.25
185  2005                                             Spain   4.23
186  2006                                             Spain   4.26
187  2007                                             Spain   4.34
188  2008                                             Spain   4.62
189  2009                                             Spain   5.02
190  2010                                             Spain   4.98
191  2011                                             Spain   4.82
192  2000                                            France   6.04
193  2001                                            France   5.95
194  2002                                            France   5.90
195  2003                                            France   5.92
196  2004                                            France   5.80
197  2005                                            France   5.67
198  2006                                            France   5.61
199  2007                                            France   5.62
200  2008                                            France   5.62
201  2009                                            France   5.90
202  2010                                            France   5.86
203  2011                                            France   5.68
204  2000                                             Italy   4.52
205  2001                                             Italy   4.83
206  2002                                             Italy   4.60
207  2003                                             Italy   4.72
208  2004                                             Italy   4.56
209  2005                                             Italy   4.41
210  2006                                             Italy   4.67
211  2007                                             Italy   4.27
212  2008                                             Italy   4.56
213  2009                                             Italy   4.70
214  2010                                             Italy   4.50
215  2011                                             Italy   4.29
216  2000                                            Cyprus   5.42
217  2001                                            Cyprus   5.98
218  2002                                            Cyprus   6.60
219  2003                                            Cyprus   7.37
220  2004                                            Cyprus   6.77
221  2005                                            Cyprus   6.95
222  2006                                            Cyprus   7.02
223  2007                                            Cyprus   6.95
224  2008                                            Cyprus   7.45
225  2009                                            Cyprus   7.98
226  2010                                            Cyprus   7.92
227  2011                                            Cyprus   7.87
228  2000                                            Latvia   5.64
229  2001                                            Latvia   7.22
230  2002                                            Latvia   6.60
231  2003                                            Latvia   5.58
232  2004                                            Latvia   5.12
233  2005                                            Latvia   5.14
234  2006                                            Latvia   5.13
235  2007                                            Latvia   5.07
236  2008                                            Latvia   5.71
237  2009                                            Latvia   5.59
238  2010                                            Latvia   4.96
239  2011                                            Latvia   4.96
240  2000                                         Lithuania   5.63
241  2001                                         Lithuania   5.86
242  2002                                         Lithuania   5.81
243  2003                                         Lithuania   5.14
244  2004                                         Lithuania   5.17
245  2005                                         Lithuania   4.88
246  2006                                         Lithuania   4.82
247  2007                                         Lithuania   4.64
248  2008                                         Lithuania   4.88
249  2009                                         Lithuania   5.64
250  2010                                         Lithuania   5.36
251  2011                                         Lithuania   5.17
252  2000                                        Luxembourg    NaN
253  2001                                        Luxembourg   3.75
254  2002                                        Luxembourg   3.79
255  2003                                        Luxembourg   3.77
256  2004                                        Luxembourg   3.87
257  2005                                        Luxembourg   3.78
258  2006                                        Luxembourg   3.41
259  2007                                        Luxembourg   3.15
260  2008                                        Luxembourg    NaN
261  2009                                        Luxembourg    NaN
262  2010                                        Luxembourg    NaN
263  2011                                        Luxembourg    NaN
264  2000                                           Hungary   4.50
265  2001                                           Hungary   5.06
266  2002                                           Hungary   5.39
267  2003                                           Hungary   5.91
268  2004                                           Hungary   5.44
269  2005                                           Hungary   5.46
270  2006                                           Hungary   5.44
271  2007                                           Hungary   5.29
272  2008                                           Hungary   5.10
273  2009                                           Hungary   5.12
274  2010                                           Hungary   4.90
275  2011                                           Hungary   4.71
276  2000                                             Malta   4.52
277  2001                                             Malta   4.27
278  2002                                             Malta   4.22
279  2003                                             Malta   4.48
280  2004                                             Malta   4.66
281  2005                                             Malta   6.58
282  2006                                             Malta   6.45
283  2007                                             Malta   6.18
284  2008                                             Malta   5.72
285  2009                                             Malta   5.32
286  2010                                             Malta   6.74
287  2011                                             Malta   7.96
288  2000                                       Netherlands   4.98
289  2001                                       Netherlands   5.09
290  2002                                       Netherlands   5.22
291  2003                                       Netherlands   5.47
292  2004                                       Netherlands   5.50
293  2005                                       Netherlands   5.53
294  2006                                       Netherlands   5.50
295  2007                                       Netherlands   5.32
296  2008                                       Netherlands   5.50

In [46]:
edu.dtypes

TIME       int64
GEO       object
Value    float64
dtype: object

# Viewing Data

In [47]:
edu.head() #first rows that are listed

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

In [48]:
edu.head(3)

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)    5.0

In [49]:
edu.tail() #last rows that are listed

     TIME      GEO  Value
379  2007  Finland   5.90
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76

In [50]:
edu.columns

Index(['TIME', 'GEO', 'Value'], dtype='object')

In [51]:
edu.columns[0]

'TIME'

In [52]:
edu.index

RangeIndex(start=0, stop=384, step=1)

In [53]:
edu.values # values of any DataFrame can be retrieved as a Python array by calling its values attribute.

array([[2000, 'European Union (28 countries)', nan],
       [2001, 'European Union (28 countries)', nan],
       [2002, 'European Union (28 countries)', 5.0],
       ...,
       [2009, 'Finland', 6.81],
       [2010, 'Finland', 6.85],
       [2011, 'Finland', 6.76]], dtype=object)

In [54]:
# quick statistical information
edu.describe()

              TIME       Value
count   384.000000  361.000000
mean   2005.500000    5.203989
std       3.456556    1.021694
min    2000.000000    2.880000
25%    2002.750000    4.620000
50%    2005.500000    5.060000
75%    2008.250000    5.660000
max    2011.000000    8.810000

In [55]:
edu.describe(include=[object])

                                  GEO
count                             384
unique                             32
top     European Union (28 countries)
freq                               12

In [56]:
edu.describe(exclude="number")

                                  GEO
count                             384
unique                             32
top     European Union (28 countries)
freq                               12

In [57]:
edu.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383
TIME,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
GEO,European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (28 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (27 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),European Union (25 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (18 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (17 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (15 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Euro area (13 countries),Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Belgium,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Bulgaria,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Czech Republic,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Denmark,Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Germany (until 1990 former territory of the FRG),Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Estonia,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Ireland,Greece,Greece,Greece,Greece,Greece,Greece,Greece,Greece,Greece,Greece,Greece,Greece,Spain,Spain,Spain,Spain,Spain,Spain,Spain,Spain,Spain,Spain,Spain,Spain,France,France,France,France,France,France,France,France,France,France,France,France,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Italy,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Cyprus,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Latvia,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Lithuania,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Luxembourg,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Hungary,Malta,Malta,Malta,Malta,Malta,Malta,Malta,Malta,Malta,Malta,Malta,Malta,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Netherlands,Austria,Austria,Austria,Austria,Austria,Austria,Austria,Austria,Austria,Austria,Austria,Austria,Poland,Poland,Poland,Poland,Poland,Poland,Poland,Poland,Poland,Poland,Poland,Poland,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Portugal,Romania,Romania,Romania,Romania,Romania,Romania,Romania,Romania,Romania,Romania,Romania,Romania,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovenia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Slovakia,Finland,Finland,Finland,Finland,Finland,Finland,Finland,Finland,Finland,Finland,Finland,Finland
Value,NaN,NaN,5.0,5.03,4.95,4.92,4.91,4.92,5.04,5.38,5.41,5.25,4.91,4.99,5.0,5.04,4.95,4.92,4.91,4.93,5.04,5.38,5.41,5.25,4.94,5.02,5.03,5.06,4.98,4.95,4.93,4.95,5.06,5.41,5.46,5.31,NaN,NaN,4.87,4.89,4.8,4.72,4.69,4.79,4.94,5.31,5.28,5.15,NaN,NaN,4.86,4.89,4.8,4.72,4.69,4.79,4.94,5.31,5.28,5.15,NaN,4.98,5.01,5.04,4.96,4.89,4.87,4.81,4.95,5.32,5.29,5.16,NaN,4.97,5.0,5.04,4.95,4.89,4.87,4.8,4.94,5.32,5.28,5.15,NaN,5.99,6.09,6.02,5.95,5.92,5.98,6.0,6.43,6.57,6.58,6.55,3.88,3.7,3.94,4.09,4.4,4.25,4.04,3.88,4.44,4.58,4.1,3.82,3.83,3.93,4.15,4.32,4.2,4.08,4.42,4.05,3.92,4.36,4.25,4.51,8.28,8.44,8.44,8.33,8.43,8.3,7.97,7.81,7.68,8.74,8.81,8.75,4.45,4.51,4.72,4.74,4.62,4.57,4.43,4.49,4.57,5.06,5.08,4.98,5.57,5.24,5.47,5.29,4.92,4.88,4.7,4.72,5.61,6.03,5.66,5.16,4.29,4.24,4.27,4.35,4.66,4.72,4.73,4.92,5.67,6.43,6.41,6.15,3.71,3.5,3.57,3.56,3.83,4.09,NaN,NaN,NaN,NaN,NaN,NaN,4.28,4.24,4.25,4.28,4.25,4.23,4.26,4.34,4.62,5.02,4.98,4.82,6.04,5.95,5.9,5.92,5.8,5.67,5.61,5.62,5.62,5.9,5.86,5.68,4.52,4.83,4.6,4.72,4.56,4.41,4.67,4.27,4.56,4.7,4.5,4.29,5.42,5.98,6.6,7.37,6.77,6.95,7.02,6.95,7.45,7.98,7.92,7.87,5.64,7.22,6.6,5.58,5.12,5.14,5.13,5.07,5.71,5.59,4.96,4.96,5.63,5.86,5.81,5.14,5.17,4.88,4.82,4.64,4.88,5.64,5.36,5.17,NaN,3.75,3.79,3.77,3.87,3.78,3.41,3.15,NaN,NaN,NaN,NaN,4.5,5.06,5.39,5.91,5.44,5.46,5.44,5.29,5.1,5.12,4.9,4.71,4.52,4.27,4.22,4.48,4.66,6.58,6.45,6.18,5.72,5.32,6.74,7.96,4.98,5.09,5.22,5.47,5.5,5.53,5.5,5.32,5.5,5.95,5.98,5.93,5.66,5.74,5.68,5.53,5.48,5.44,5.4,5.33,5.47,5.98,5.91,5.8,4.87,5.42,5.41,5.35,5.41,5.47,5.25,4.91,5.08,5.09,5.17,4.94,5.42,5.39,5.33,5.38,5.1,5.21,5.07,5.1,4.89,5.79,5.62,5.27,2.88,3.25,3.51,3.45,3.28,3.48,NaN,4.25,NaN,4.24,3.53,3.07,NaN,5.86,5.76,5.8,5.74,5.73,5.72,5.15,5.2,5.69,5.68,5.68,3.92,3.99,4.31,4.3,4.19,3.85,3.8,3.62,3.61,4.09,4.22,4.06,5.89,6.06,6.22,6.43,6.42,6.3,6.18,5.9,6.1,6.81,6.85,6.76

# Selection

In [58]:
edu['Value'] # The result will be a Series data structure, not a DataFrame, because only one column is retrieved.

0       NaN
1       NaN
2      5.00
3      5.03
4      4.95
5      4.92
6      4.91
7      4.92
8      5.04
9      5.38
10     5.41
11     5.25
12     4.91
13     4.99
14     5.00
15     5.04
16     4.95
17     4.92
18     4.91
19     4.93
20     5.04
21     5.38
22     5.41
23     5.25
24     4.94
25     5.02
26     5.03
27     5.06
28     4.98
29     4.95
30     4.93
31     4.95
32     5.06
33     5.41
34     5.46
35     5.31
36      NaN
37      NaN
38     4.87
39     4.89
40     4.80
41     4.72
42     4.69
43     4.79
44     4.94
45     5.31
46     5.28
47     5.15
48      NaN
49      NaN
50     4.86
51     4.89
52     4.80
53     4.72
54     4.69
55     4.79
56     4.94
57     5.31
58     5.28
59     5.15
60      NaN
61     4.98
62     5.01
63     5.04
64     4.96
65     4.89
66     4.87
67     4.81
68     4.95
69     5.32
70     5.29
71     5.16
72      NaN
73     4.97
74     5.00
75     5.04
76     4.95
77     4.89
78     4.87
79     4.80
80     4.94
81     5.32
82     5.28
83     5.15
84      NaN
85     5.99
86     6.09
87     6.02
88     5.95
89     5.92
90     5.98
91     6.00
92     6.43
93     6.57
94     6.58
95     6.55
96     3.88
97     3.70
98     3.94
99     4.09
100    4.40
101    4.25
102    4.04
103    3.88
104    4.44
105    4.58
106    4.10
107    3.82
108    3.83
109    3.93
110    4.15
111    4.32
112    4.20
113    4.08
114    4.42
115    4.05
116    3.92
117    4.36
118    4.25
119    4.51
120    8.28
121    8.44
122    8.44
123    8.33
124    8.43
125    8.30
126    7.97
127    7.81
128    7.68
129    8.74
130    8.81
131    8.75
132    4.45
133    4.51
134    4.72
135    4.74
136    4.62
137    4.57
138    4.43
139    4.49
140    4.57
141    5.06
142    5.08
143    4.98
144    5.57
145    5.24
146    5.47
147    5.29
148    4.92
149    4.88
150    4.70
151    4.72
152    5.61
153    6.03
154    5.66
155    5.16
156    4.29
157    4.24
158    4.27
159    4.35
160    4.66
161    4.72
162    4.73
163    4.92
164    5.67
165    6.43
166    6.41
167    6.15
168    3.71
169    3.50
170    3.57
171    3.56
172    3.83
173    4.09
174     NaN
175     NaN
176     NaN
177     NaN
178     NaN
179     NaN
180    4.28
181    4.24
182    4.25
183    4.28
184    4.25
185    4.23
186    4.26
187    4.34
188    4.62
189    5.02
190    4.98
191    4.82
192    6.04
193    5.95
194    5.90
195    5.92
196    5.80
197    5.67
198    5.61
199    5.62
200    5.62
201    5.90
202    5.86
203    5.68
204    4.52
205    4.83
206    4.60
207    4.72
208    4.56
209    4.41
210    4.67
211    4.27
212    4.56
213    4.70
214    4.50
215    4.29
216    5.42
217    5.98
218    6.60
219    7.37
220    6.77
221    6.95
222    7.02
223    6.95
224    7.45
225    7.98
226    7.92
227    7.87
228    5.64
229    7.22
230    6.60
231    5.58
232    5.12
233    5.14
234    5.13
235    5.07
236    5.71
237    5.59
238    4.96
239    4.96
240    5.63
241    5.86
242    5.81
243    5.14
244    5.17
245    4.88
246    4.82
247    4.64
248    4.88
249    5.64
250    5.36
251    5.17
252     NaN
253    3.75
254    3.79
255    3.77
256    3.87
257    3.78
258    3.41
259    3.15
260     NaN
261     NaN
262     NaN
263     NaN
264    4.50
265    5.06
266    5.39
267    5.91
268    5.44
269    5.46
270    5.44
271    5.29
272    5.10
273    5.12
274    4.90
275    4.71
276    4.52
277    4.27
278    4.22
279    4.48
280    4.66
281    6.58
282    6.45
283    6.18
284    5.72
285    5.32
286    6.74
287    7.96
288    4.98
289    5.09
290    5.22
291    5.47
292    5.50
293    5.53
294    5.50
295    5.32
296    5.50
297    5.95
298    5.98
299    5.93
300    5.66
301    5.74
302    5.68
303    5.53
304    5.48
305    5.44
306    5.40
307    5.33
308    5.47
309    5.98
310    5.91
311    5.80
312    4.87
313    5.42
314    5.41
315    5.35
316    5.41
317    5.47
318    5.25
319    4.91
320    5.08
321    5.09
322    5.17
323    4.94
324    5.42
325    5.39
326    5.33
327    5.38
328    5.10
329    5.21
330    5.07
331    5.10
332    4.89
333    5.79
334    5.62
335    5.27
336    2.88
337    3.25
338    3.51
339    3.45
340    3.28
341    3.48
342     NaN
343    4.25
344     NaN
345    4.24
346    3.53
347    3.07
348     NaN
349    5.86
350    5.76
351    5.80
352    5.74
353    5.73
354    5.72
355    5.15
356    5.20
357    5.69
358    5.68
359    5.68
360    3.92
361    3.99
362    4.31
363    4.30
364    4.19
365    3.85
366    3.80
367    3.62
368    3.61
369    4.09
370    4.22
371    4.06
372    5.89
373    6.06
374    6.22
375    6.43
376    6.42
377    6.30
378    6.18
379    5.90
380    6.10
381    6.81
382    6.85
383    6.76
Name: Value, dtype: float64

In [59]:
edu[['Value','GEO']]

     Value                                               GEO
0      NaN                     European Union (28 countries)
1      NaN                     European Union (28 countries)
2     5.00                     European Union (28 countries)
3     5.03                     European Union (28 countries)
4     4.95                     European Union (28 countries)
5     4.92                     European Union (28 countries)
6     4.91                     European Union (28 countries)
7     4.92                     European Union (28 countries)
8     5.04                     European Union (28 countries)
9     5.38                     European Union (28 countries)
10    5.41                     European Union (28 countries)
11    5.25                     European Union (28 countries)
12    4.91                     European Union (27 countries)
13    4.99                     European Union (27 countries)
14    5.00                     European Union (27 countries)
15    5.04                     European Union (27 countries)
16    4.95                     European Union (27 countries)
17    4.92                     European Union (27 countries)
18    4.91                     European Union (27 countries)
19    4.93                     European Union (27 countries)
20    5.04                     European Union (27 countries)
21    5.38                     European Union (27 countries)
22    5.41                     European Union (27 countries)
23    5.25                     European Union (27 countries)
24    4.94                     European Union (25 countries)
25    5.02                     European Union (25 countries)
26    5.03                     European Union (25 countries)
27    5.06                     European Union (25 countries)
28    4.98                     European Union (25 countries)
29    4.95                     European Union (25 countries)
30    4.93                     European Union (25 countries)
31    4.95                     European Union (25 countries)
32    5.06                     European Union (25 countries)
33    5.41                     European Union (25 countries)
34    5.46                     European Union (25 countries)
35    5.31                     European Union (25 countries)
36     NaN                          Euro area (18 countries)
37     NaN                          Euro area (18 countries)
38    4.87                          Euro area (18 countries)
39    4.89                          Euro area (18 countries)
40    4.80                          Euro area (18 countries)
41    4.72                          Euro area (18 countries)
42    4.69                          Euro area (18 countries)
43    4.79                          Euro area (18 countries)
44    4.94                          Euro area (18 countries)
45    5.31                          Euro area (18 countries)
46    5.28                          Euro area (18 countries)
47    5.15                          Euro area (18 countries)
48     NaN                          Euro area (17 countries)
49     NaN                          Euro area (17 countries)
50    4.86                          Euro area (17 countries)
51    4.89                          Euro area (17 countries)
52    4.80                          Euro area (17 countries)
53    4.72                          Euro area (17 countries)
54    4.69                          Euro area (17 countries)
55    4.79                          Euro area (17 countries)
56    4.94                          Euro area (17 countries)
57    5.31                          Euro area (17 countries)
58    5.28                          Euro area (17 countries)
59    5.15                          Euro area (17 countries)
60     NaN                          Euro area (15 countries)
61    4.98                          Euro area (15 countries)
62    5.01                          Euro area (15 countries)
63    5.04                          Euro area (15 countries)
64    4.96                          Euro area (15 countries)
65    4.89                          Euro area (15 countries)
66    4.87                          Euro area (15 countries)
67    4.81                          Euro area (15 countries)
68    4.95                          Euro area (15 countries)
69    5.32                          Euro area (15 countries)
70    5.29                          Euro area (15 countries)
71    5.16                          Euro area (15 countries)
72     NaN                          Euro area (13 countries)
73    4.97                          Euro area (13 countries)
74    5.00                          Euro area (13 countries)
75    5.04                          Euro area (13 countries)
76    4.95                          Euro area (13 countries)
77    4.89                          Euro area (13 countries)
78    4.87                          Euro area (13 countries)
79    4.80                          Euro area (13 countries)
80    4.94                          Euro area (13 countries)
81    5.32                          Euro area (13 countries)
82    5.28                          Euro area (13 countries)
83    5.15                          Euro area (13 countries)
84     NaN                                           Belgium
85    5.99                                           Belgium
86    6.09                                           Belgium
87    6.02                                           Belgium
88    5.95                                           Belgium
89    5.92                                           Belgium
90    5.98                                           Belgium
91    6.00                                           Belgium
92    6.43                                           Belgium
93    6.57                                           Belgium
94    6.58                                           Belgium
95    6.55                                           Belgium
96    3.88                                          Bulgaria
97    3.70                                          Bulgaria
98    3.94                                          Bulgaria
99    4.09                                          Bulgaria
100   4.40                                          Bulgaria
101   4.25                                          Bulgaria
102   4.04                                          Bulgaria
103   3.88                                          Bulgaria
104   4.44                                          Bulgaria
105   4.58                                          Bulgaria
106   4.10                                          Bulgaria
107   3.82                                          Bulgaria
108   3.83                                    Czech Republic
109   3.93                                    Czech Republic
110   4.15                                    Czech Republic
111   4.32                                    Czech Republic
112   4.20                                    Czech Republic
113   4.08                                    Czech Republic
114   4.42                                    Czech Republic
115   4.05                                    Czech Republic
116   3.92                                    Czech Republic
117   4.36                                    Czech Republic
118   4.25                                    Czech Republic
119   4.51                                    Czech Republic
120   8.28                                           Denmark
121   8.44                                           Denmark
122   8.44                                           Denmark
123   8.33                                           Denmark
124   8.43                                           Denmark
125   8.30                                           Denmark
126   7.97                                           Denmark
127   7.81                                           Denmark
128   7.68                                           Denmark
129   8.74                                           Denmark
130   8.81                                           Denmark
131   8.75                                           Denmark
132   4.45  Germany (until 1990 former territory of the FRG)
133   4.51  Germany (until 1990 former territory of the FRG)
134   4.72  Germany (until 1990 former territory of the FRG)
135   4.74  Germany (until 1990 former territory of the FRG)
136   4.62  Germany (until 1990 former territory of the FRG)
137   4.57  Germany (until 1990 former territory of the FRG)
138   4.43  Germany (until 1990 former territory of the FRG)
139   4.49  Germany (until 1990 former territory of the FRG)
140   4.57  Germany (until 1990 former territory of the FRG)
141   5.06  Germany (until 1990 former territory of the FRG)
142   5.08  Germany (until 1990 former territory of the FRG)
143   4.98  Germany (until 1990 former territory of the FRG)
144   5.57                                           Estonia
145   5.24                                           Estonia
146   5.47                                           Estonia
147   5.29                                           Estonia
148   4.92                                           Estonia
149   4.88                                           Estonia
150   4.70                                           Estonia
151   4.72                                           Estonia
152   5.61                                           Estonia
153   6.03                                           Estonia
154   5.66                                           Estonia
155   5.16                                           Estonia
156   4.29                                           Ireland
157   4.24                                           Ireland
158   4.27                                           Ireland
159   4.35                                           Ireland
160   4.66                                           Ireland
161   4.72                                           Ireland
162   4.73                                           Ireland
163   4.92                                           Ireland
164   5.67                                           Ireland
165   6.43                                           Ireland
166   6.41                                           Ireland
167   6.15                                           Ireland
168   3.71                                            Greece
169   3.50                                            Greece
170   3.57                                            Greece
171   3.56                                            Greece
172   3.83                                            Greece
173   4.09                                            Greece
174    NaN                                            Greece
175    NaN                                            Greece
176    NaN                                            Greece
177    NaN                                            Greece
178    NaN                                            Greece
179    NaN                                            Greece
180   4.28                                             Spain
181   4.24                                             Spain
182   4.25                                             Spain
183   4.28                                             Spain
184   4.25                                             Spain
185   4.23                                             Spain
186   4.26                                             Spain
187   4.34                                             Spain
188   4.62                                             Spain
189   5.02                                             Spain
190   4.98                                             Spain
191   4.82                                             Spain
192   6.04                                            France
193   5.95                                            France
194   5.90                                            France
195   5.92                                            France
196   5.80                                            France
197   5.67                                            France
198   5.61                                            France
199   5.62                                            France
200   5.62                                            France
201   5.90                                            France
202   5.86                                            France
203   5.68                                            France
204   4.52                                             Italy
205   4.83                                             Italy
206   4.60                                             Italy
207   4.72                                             Italy
208   4.56                                             Italy
209   4.41                                             Italy
210   4.67                                             Italy
211   4.27                                             Italy
212   4.56                                             Italy
213   4.70                                             Italy
214   4.50                                             Italy
215   4.29                                             Italy
216   5.42                                            Cyprus
217   5.98                                            Cyprus
218   6.60                                            Cyprus
219   7.37                                            Cyprus
220   6.77                                            Cyprus
221   6.95                                            Cyprus
222   7.02                                            Cyprus
223   6.95                                            Cyprus
224   7.45                                            Cyprus
225   7.98                                            Cyprus
226   7.92                                            Cyprus
227   7.87                                            Cyprus
228   5.64                                            Latvia
229   7.22                                            Latvia
230   6.60                                            Latvia
231   5.58                                            Latvia
232   5.12                                            Latvia
233   5.14                                            Latvia
234   5.13                                            Latvia
235   5.07                                            Latvia
236   5.71                                            Latvia
237   5.59                                            Latvia
238   4.96                                            Latvia
239   4.96                                            Latvia
240   5.63                                         Lithuania
241   5.86                                         Lithuania
242   5.81                                         Lithuania
243   5.14                                         Lithuania
244   5.17                                         Lithuania
245   4.88                                         Lithuania
246   4.82                                         Lithuania
247   4.64                                         Lithuania
248   4.88                                         Lithuania
249   5.64                                         Lithuania
250   5.36                                         Lithuania
251   5.17                                         Lithuania
252    NaN                                        Luxembourg
253   3.75                                        Luxembourg
254   3.79                                        Luxembourg
255   3.77                                        Luxembourg
256   3.87                                        Luxembourg
257   3.78                                        Luxembourg
258   3.41                                        Luxembourg
259   3.15                                        Luxembourg
260    NaN                                        Luxembourg
261    NaN                                        Luxembourg
262    NaN                                        Luxembourg
263    NaN                                        Luxembourg
264   4.50                                           Hungary
265   5.06                                           Hungary
266   5.39                                           Hungary
267   5.91                                           Hungary
268   5.44                                           Hungary
269   5.46                                           Hungary
270   5.44                                           Hungary
271   5.29                                           Hungary
272   5.10                                           Hungary
273   5.12                                           Hungary
274   4.90                                           Hungary
275   4.71                                           Hungary
276   4.52                                             Malta
277   4.27                                             Malta
278   4.22                                             Malta
279   4.48                                             Malta
280   4.66                                             Malta
281   6.58                                             Malta
282   6.45                                             Malta
283   6.18                                             Malta
284   5.72                                             Malta
285   5.32                                             Malta
286   6.74                                             Malta
287   7.96                                             Malta
288   4.98                                       Netherlands
289   5.09                                       Netherlands
290   5.22                                       Netherlands
291   5.47                                       Netherlands
292   5.50                                       Netherlands
293   5.53                                       Netherlands
294   5.50                                       Netherlands
295   5.32                                       Netherlands
296   5.50                                       Netherlands
297   5.95                                       Netherlands
298   5.98                                       Netherlands
299   5.93                                       Netherlands
300   5.66                                           Austria
301   5.74                                           Austria
302   5.68                                           Austria
303   5.53                                           Austria
304   5.48                                           Austria
305   5.44                                           Austria
306   5.40                                           Austria
307   5.33                                           Austria
308   5.47                                           Austria
309   5.98                                           Austria
310   5.91                                           Austria
311   5.80                                           Austria
312   4.87                                            Poland
313   5.42                                            Poland
314   5.41                                            Poland
315   5.35                                            Poland
316   5.41                                            Poland
317   5.47                                            Poland
318   5.25                                            Poland
319   4.91                                            Poland
320   5.08                                            Poland
321   5.09                                            Poland
322   5.17                                            Poland
323   4.94                                            Poland
324   5.42                                          Portugal
325   5.39                                          Portugal

In [67]:
edu[10:14] # select a subset of rows from a DataFrame

    TIME                            GEO  Value
10  2010  European Union (28 countries)   5.41
11  2011  European Union (28 countries)   5.25
12  2000  European Union (27 countries)   4.91
13  2001  European Union (27 countries)   4.99

In [69]:
edu.iloc[10:14]

    TIME                            GEO  Value
10  2010  European Union (28 countries)   5.41
11  2011  European Union (28 countries)   5.25
12  2000  European Union (27 countries)   4.91
13  2001  European Union (27 countries)   4.99

In [70]:
edu.loc[90:94, ['TIME', 'GEO']]  #[rows, columns]

    TIME      GEO
90  2006  Belgium
91  2007  Belgium
92  2008  Belgium
93  2009  Belgium
94  2010  Belgium

In [71]:
edu.loc[90:94,:] #[rows, columns=all]

    TIME      GEO  Value
90  2006  Belgium   5.98
91  2007  Belgium   6.00
92  2008  Belgium   6.43
93  2009  Belgium   6.57
94  2010  Belgium   6.58

In [75]:
edu.sample(10,random_state=23) # random sample >> 23 seed for random number generator.
# seed makes the random numbers predictable

     TIME                       GEO  Value
294  2006               Netherlands   5.50
343  2007                   Romania   4.25
178  2010                    Greece    NaN
73   2001  Euro area (13 countries)   4.97
284  2008                     Malta   5.72
193  2001                    France   5.95
236  2008                    Latvia   5.71
205  2001                     Italy   4.83
59   2011  Euro area (17 countries)   5.15
252  2000                Luxembourg    NaN

In [76]:
edu.sample(10, random_state=23).loc[73:59,:]

     TIME                       GEO  Value
73   2001  Euro area (13 countries)   4.97
284  2008                     Malta   5.72
193  2001                    France   5.95
236  2008                    Latvia   5.71
205  2001                     Italy   4.83
59   2011  Euro area (17 countries)   5.15

# Filtering Data

In [77]:
# Another way of selection
# by applying Boolean indexing. This indexing is commonly known as a filter. 
edu[edu['Value'] > 6.5].tail()

     TIME      GEO  Value
286  2010    Malta   6.74
287  2011    Malta   7.96
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76

In [78]:
edu['Value'] > 6.5

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93      True
94      True
95      True
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120     True
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218     True
219     True
220     True
221     True
222     True
223     True
224     True
225     True
226     True
227     True
228    False
229     True
230     True
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281     True
282    False
283    False
284    False
285    False
286     True
287     True
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381     True
382     True
383     True
Name: Value, dtype: bool

# Filtering Missing Values

In [79]:
edu[edu['Value'].isnull()].head()

    TIME                            GEO  Value
0   2000  European Union (28 countries)    NaN
1   2001  European Union (28 countries)    NaN
36  2000       Euro area (18 countries)    NaN
37  2001       Euro area (18 countries)    NaN
48  2000       Euro area (17 countries)    NaN

In [87]:
edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIME    384 non-null    int64
 1   GEO     384 non-null    object
 2   Value   361 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.1+ KB

# Manipulating Data

In [88]:
# aggregation functions
edu.max(axis=0) # 0 means applied to the rows for each column

TIME      2011
GEO      Spain
Value     8.81
dtype: object

In [89]:
edu['TIME'].max()

2011

In [90]:
print('Pandas max function:', edu['Value'].max())
print('Python max function:', max(edu['Value']))

Pandas max function: 8.81
Python max function: nan

In [91]:
edu['Value'].head()

0     NaN
1     NaN
2    5.00
3    5.03
4    4.95
Name: Value, dtype: float64

In [92]:
s = edu['Value'] / 100 # you can apply it by one step
s.head()

0       NaN
1       NaN
2    0.0500
3    0.0503
4    0.0495
Name: Value, dtype: float64

In [94]:
edu.Value

0       NaN
1       NaN
2      5.00
3      5.03
4      4.95
5      4.92
6      4.91
7      4.92
8      5.04
9      5.38
10     5.41
11     5.25
12     4.91
13     4.99
14     5.00
15     5.04
16     4.95
17     4.92
18     4.91
19     4.93
20     5.04
21     5.38
22     5.41
23     5.25
24     4.94
25     5.02
26     5.03
27     5.06
28     4.98
29     4.95
30     4.93
31     4.95
32     5.06
33     5.41
34     5.46
35     5.31
36      NaN
37      NaN
38     4.87
39     4.89
40     4.80
41     4.72
42     4.69
43     4.79
44     4.94
45     5.31
46     5.28
47     5.15
48      NaN
49      NaN
50     4.86
51     4.89
52     4.80
53     4.72
54     4.69
55     4.79
56     4.94
57     5.31
58     5.28
59     5.15
60      NaN
61     4.98
62     5.01
63     5.04
64     4.96
65     4.89
66     4.87
67     4.81
68     4.95
69     5.32
70     5.29
71     5.16
72      NaN
73     4.97
74     5.00
75     5.04
76     4.95
77     4.89
78     4.87
79     4.80
80     4.94
81     5.32
82     5.28
83     5.15
84      NaN
85     5.99
86     6.09
87     6.02
88     5.95
89     5.92
90     5.98
91     6.00
92     6.43
93     6.57
94     6.58
95     6.55
96     3.88
97     3.70
98     3.94
99     4.09
100    4.40
101    4.25
102    4.04
103    3.88
104    4.44
105    4.58
106    4.10
107    3.82
108    3.83
109    3.93
110    4.15
111    4.32
112    4.20
113    4.08
114    4.42
115    4.05
116    3.92
117    4.36
118    4.25
119    4.51
120    8.28
121    8.44
122    8.44
123    8.33
124    8.43
125    8.30
126    7.97
127    7.81
128    7.68
129    8.74
130    8.81
131    8.75
132    4.45
133    4.51
134    4.72
135    4.74
136    4.62
137    4.57
138    4.43
139    4.49
140    4.57
141    5.06
142    5.08
143    4.98
144    5.57
145    5.24
146    5.47
147    5.29
148    4.92
149    4.88
150    4.70
151    4.72
152    5.61
153    6.03
154    5.66
155    5.16
156    4.29
157    4.24
158    4.27
159    4.35
160    4.66
161    4.72
162    4.73
163    4.92
164    5.67
165    6.43
166    6.41
167    6.15
168    3.71
169    3.50
170    3.57
171    3.56
172    3.83
173    4.09
174     NaN
175     NaN
176     NaN
177     NaN
178     NaN
179     NaN
180    4.28
181    4.24
182    4.25
183    4.28
184    4.25
185    4.23
186    4.26
187    4.34
188    4.62
189    5.02
190    4.98
191    4.82
192    6.04
193    5.95
194    5.90
195    5.92
196    5.80
197    5.67
198    5.61
199    5.62
200    5.62
201    5.90
202    5.86
203    5.68
204    4.52
205    4.83
206    4.60
207    4.72
208    4.56
209    4.41
210    4.67
211    4.27
212    4.56
213    4.70
214    4.50
215    4.29
216    5.42
217    5.98
218    6.60
219    7.37
220    6.77
221    6.95
222    7.02
223    6.95
224    7.45
225    7.98
226    7.92
227    7.87
228    5.64
229    7.22
230    6.60
231    5.58
232    5.12
233    5.14
234    5.13
235    5.07
236    5.71
237    5.59
238    4.96
239    4.96
240    5.63
241    5.86
242    5.81
243    5.14
244    5.17
245    4.88
246    4.82
247    4.64
248    4.88
249    5.64
250    5.36
251    5.17
252     NaN
253    3.75
254    3.79
255    3.77
256    3.87
257    3.78
258    3.41
259    3.15
260     NaN
261     NaN
262     NaN
263     NaN
264    4.50
265    5.06
266    5.39
267    5.91
268    5.44
269    5.46
270    5.44
271    5.29
272    5.10
273    5.12
274    4.90
275    4.71
276    4.52
277    4.27
278    4.22
279    4.48
280    4.66
281    6.58
282    6.45
283    6.18
284    5.72
285    5.32
286    6.74
287    7.96
288    4.98
289    5.09
290    5.22
291    5.47
292    5.50
293    5.53
294    5.50
295    5.32
296    5.50
297    5.95
298    5.98
299    5.93
300    5.66
301    5.74
302    5.68
303    5.53
304    5.48
305    5.44
306    5.40
307    5.33
308    5.47
309    5.98
310    5.91
311    5.80
312    4.87
313    5.42
314    5.41
315    5.35
316    5.41
317    5.47
318    5.25
319    4.91
320    5.08
321    5.09
322    5.17
323    4.94
324    5.42
325    5.39
326    5.33
327    5.38
328    5.10
329    5.21
330    5.07
331    5.10
332    4.89
333    5.79
334    5.62
335    5.27
336    2.88
337    3.25
338    3.51
339    3.45
340    3.28
341    3.48
342     NaN
343    4.25
344     NaN
345    4.24
346    3.53
347    3.07
348     NaN
349    5.86
350    5.76
351    5.80
352    5.74
353    5.73
354    5.72
355    5.15
356    5.20
357    5.69
358    5.68
359    5.68
360    3.92
361    3.99
362    4.31
363    4.30
364    4.19
365    3.85
366    3.80
367    3.62
368    3.61
369    4.09
370    4.22
371    4.06
372    5.89
373    6.06
374    6.22
375    6.43
376    6.42
377    6.30
378    6.18
379    5.90
380    6.10
381    6.81
382    6.85
383    6.76
Name: Value, dtype: float64

In [95]:
import numpy as np

In [96]:
# we can apply any function to a DataFrame or Series
s = edu['Value'].apply(np.sqrt) # sqrt function from the numpy library
s.head()

0         NaN
1         NaN
2    2.236068
3    2.242766
4    2.224860
Name: Value, dtype: float64

In [97]:
def f2(x):
    return x**2
s = edu['Value'].apply(f2)
s.head()

0        NaN
1        NaN
2    25.0000
3    25.3009
4    24.5025
Name: Value, dtype: float64

In [98]:
edu

     TIME                                               GEO  Value
0    2000                     European Union (28 countries)    NaN
1    2001                     European Union (28 countries)    NaN
2    2002                     European Union (28 countries)   5.00
3    2003                     European Union (28 countries)   5.03
4    2004                     European Union (28 countries)   4.95
5    2005                     European Union (28 countries)   4.92
6    2006                     European Union (28 countries)   4.91
7    2007                     European Union (28 countries)   4.92
8    2008                     European Union (28 countries)   5.04
9    2009                     European Union (28 countries)   5.38
10   2010                     European Union (28 countries)   5.41
11   2011                     European Union (28 countries)   5.25
12   2000                     European Union (27 countries)   4.91
13   2001                     European Union (27 countries)   4.99
14   2002                     European Union (27 countries)   5.00
15   2003                     European Union (27 countries)   5.04
16   2004                     European Union (27 countries)   4.95
17   2005                     European Union (27 countries)   4.92
18   2006                     European Union (27 countries)   4.91
19   2007                     European Union (27 countries)   4.93
20   2008                     European Union (27 countries)   5.04
21   2009                     European Union (27 countries)   5.38
22   2010                     European Union (27 countries)   5.41
23   2011                     European Union (27 countries)   5.25
24   2000                     European Union (25 countries)   4.94
25   2001                     European Union (25 countries)   5.02
26   2002                     European Union (25 countries)   5.03
27   2003                     European Union (25 countries)   5.06
28   2004                     European Union (25 countries)   4.98
29   2005                     European Union (25 countries)   4.95
30   2006                     European Union (25 countries)   4.93
31   2007                     European Union (25 countries)   4.95
32   2008                     European Union (25 countries)   5.06
33   2009                     European Union (25 countries)   5.41
34   2010                     European Union (25 countries)   5.46
35   2011                     European Union (25 countries)   5.31
36   2000                          Euro area (18 countries)    NaN
37   2001                          Euro area (18 countries)    NaN
38   2002                          Euro area (18 countries)   4.87
39   2003                          Euro area (18 countries)   4.89
40   2004                          Euro area (18 countries)   4.80
41   2005                          Euro area (18 countries)   4.72
42   2006                          Euro area (18 countries)   4.69
43   2007                          Euro area (18 countries)   4.79
44   2008                          Euro area (18 countries)   4.94
45   2009                          Euro area (18 countries)   5.31
46   2010                          Euro area (18 countries)   5.28
47   2011                          Euro area (18 countries)   5.15
48   2000                          Euro area (17 countries)    NaN
49   2001                          Euro area (17 countries)    NaN
50   2002                          Euro area (17 countries)   4.86
51   2003                          Euro area (17 countries)   4.89
52   2004                          Euro area (17 countries)   4.80
53   2005                          Euro area (17 countries)   4.72
54   2006                          Euro area (17 countries)   4.69
55   2007                          Euro area (17 countries)   4.79
56   2008                          Euro area (17 countries)   4.94
57   2009                          Euro area (17 countries)   5.31
58   2010                          Euro area (17 countries)   5.28
59   2011                          Euro area (17 countries)   5.15
60   2000                          Euro area (15 countries)    NaN
61   2001                          Euro area (15 countries)   4.98
62   2002                          Euro area (15 countries)   5.01
63   2003                          Euro area (15 countries)   5.04
64   2004                          Euro area (15 countries)   4.96
65   2005                          Euro area (15 countries)   4.89
66   2006                          Euro area (15 countries)   4.87
67   2007                          Euro area (15 countries)   4.81
68   2008                          Euro area (15 countries)   4.95
69   2009                          Euro area (15 countries)   5.32
70   2010                          Euro area (15 countries)   5.29
71   2011                          Euro area (15 countries)   5.16
72   2000                          Euro area (13 countries)    NaN
73   2001                          Euro area (13 countries)   4.97
74   2002                          Euro area (13 countries)   5.00
75   2003                          Euro area (13 countries)   5.04
76   2004                          Euro area (13 countries)   4.95
77   2005                          Euro area (13 countries)   4.89
78   2006                          Euro area (13 countries)   4.87
79   2007                          Euro area (13 countries)   4.80
80   2008                          Euro area (13 countries)   4.94
81   2009                          Euro area (13 countries)   5.32
82   2010                          Euro area (13 countries)   5.28
83   2011                          Euro area (13 countries)   5.15
84   2000                                           Belgium    NaN
85   2001                                           Belgium   5.99
86   2002                                           Belgium   6.09
87   2003                                           Belgium   6.02
88   2004                                           Belgium   5.95
89   2005                                           Belgium   5.92
90   2006                                           Belgium   5.98
91   2007                                           Belgium   6.00
92   2008                                           Belgium   6.43
93   2009                                           Belgium   6.57
94   2010                                           Belgium   6.58
95   2011                                           Belgium   6.55
96   2000                                          Bulgaria   3.88
97   2001                                          Bulgaria   3.70
98   2002                                          Bulgaria   3.94
99   2003                                          Bulgaria   4.09
100  2004                                          Bulgaria   4.40
101  2005                                          Bulgaria   4.25
102  2006                                          Bulgaria   4.04
103  2007                                          Bulgaria   3.88
104  2008                                          Bulgaria   4.44
105  2009                                          Bulgaria   4.58
106  2010                                          Bulgaria   4.10
107  2011                                          Bulgaria   3.82
108  2000                                    Czech Republic   3.83
109  2001                                    Czech Republic   3.93
110  2002                                    Czech Republic   4.15
111  2003                                    Czech Republic   4.32
112  2004                                    Czech Republic   4.20
113  2005                                    Czech Republic   4.08
114  2006                                    Czech Republic   4.42
115  2007                                    Czech Republic   4.05
116  2008                                    Czech Republic   3.92
117  2009                                    Czech Republic   4.36
118  2010                                    Czech Republic   4.25
119  2011                                    Czech Republic   4.51
120  2000                                           Denmark   8.28
121  2001                                           Denmark   8.44
122  2002                                           Denmark   8.44
123  2003                                           Denmark   8.33
124  2004                                           Denmark   8.43
125  2005                                           Denmark   8.30
126  2006                                           Denmark   7.97
127  2007                                           Denmark   7.81
128  2008                                           Denmark   7.68
129  2009                                           Denmark   8.74
130  2010                                           Denmark   8.81
131  2011                                           Denmark   8.75
132  2000  Germany (until 1990 former territory of the FRG)   4.45
133  2001  Germany (until 1990 former territory of the FRG)   4.51
134  2002  Germany (until 1990 former territory of the FRG)   4.72
135  2003  Germany (until 1990 former territory of the FRG)   4.74
136  2004  Germany (until 1990 former territory of the FRG)   4.62
137  2005  Germany (until 1990 former territory of the FRG)   4.57
138  2006  Germany (until 1990 former territory of the FRG)   4.43
139  2007  Germany (until 1990 former territory of the FRG)   4.49
140  2008  Germany (until 1990 former territory of the FRG)   4.57
141  2009  Germany (until 1990 former territory of the FRG)   5.06
142  2010  Germany (until 1990 former territory of the FRG)   5.08
143  2011  Germany (until 1990 former territory of the FRG)   4.98
144  2000                                           Estonia   5.57
145  2001                                           Estonia   5.24
146  2002                                           Estonia   5.47
147  2003                                           Estonia   5.29
148  2004                                           Estonia   4.92
149  2005                                           Estonia   4.88
150  2006                                           Estonia   4.70
151  2007                                           Estonia   4.72
152  2008                                           Estonia   5.61
153  2009                                           Estonia   6.03
154  2010                                           Estonia   5.66
155  2011                                           Estonia   5.16
156  2000                                           Ireland   4.29
157  2001                                           Ireland   4.24
158  2002                                           Ireland   4.27
159  2003                                           Ireland   4.35
160  2004                                           Ireland   4.66
161  2005                                           Ireland   4.72
162  2006                                           Ireland   4.73
163  2007                                           Ireland   4.92
164  2008                                           Ireland   5.67
165  2009                                           Ireland   6.43
166  2010                                           Ireland   6.41
167  2011                                           Ireland   6.15
168  2000                                            Greece   3.71
169  2001                                            Greece   3.50
170  2002                                            Greece   3.57
171  2003                                            Greece   3.56
172  2004                                            Greece   3.83
173  2005                                            Greece   4.09
174  2006                                            Greece    NaN
175  2007                                            Greece    NaN
176  2008                                            Greece    NaN
177  2009                                            Greece    NaN
178  2010                                            Greece    NaN
179  2011                                            Greece    NaN
180  2000                                             Spain   4.28
181  2001                                             Spain   4.24
182  2002                                             Spain   4.25
183  2003                                             Spain   4.28
184  2004                                             Spain   4.25
185  2005                                             Spain   4.23
186  2006                                             Spain   4.26
187  2007                                             Spain   4.34
188  2008                                             Spain   4.62
189  2009                                             Spain   5.02
190  2010                                             Spain   4.98
191  2011                                             Spain   4.82
192  2000                                            France   6.04
193  2001                                            France   5.95
194  2002                                            France   5.90
195  2003                                            France   5.92
196  2004                                            France   5.80
197  2005                                            France   5.67
198  2006                                            France   5.61
199  2007                                            France   5.62
200  2008                                            France   5.62
201  2009                                            France   5.90
202  2010                                            France   5.86
203  2011                                            France   5.68
204  2000                                             Italy   4.52
205  2001                                             Italy   4.83
206  2002                                             Italy   4.60
207  2003                                             Italy   4.72
208  2004                                             Italy   4.56
209  2005                                             Italy   4.41
210  2006                                             Italy   4.67
211  2007                                             Italy   4.27
212  2008                                             Italy   4.56
213  2009                                             Italy   4.70
214  2010                                             Italy   4.50
215  2011                                             Italy   4.29
216  2000                                            Cyprus   5.42
217  2001                                            Cyprus   5.98
218  2002                                            Cyprus   6.60
219  2003                                            Cyprus   7.37
220  2004                                            Cyprus   6.77
221  2005                                            Cyprus   6.95
222  2006                                            Cyprus   7.02
223  2007                                            Cyprus   6.95
224  2008                                            Cyprus   7.45
225  2009                                            Cyprus   7.98
226  2010                                            Cyprus   7.92
227  2011                                            Cyprus   7.87
228  2000                                            Latvia   5.64
229  2001                                            Latvia   7.22
230  2002                                            Latvia   6.60
231  2003                                            Latvia   5.58
232  2004                                            Latvia   5.12
233  2005                                            Latvia   5.14
234  2006                                            Latvia   5.13
235  2007                                            Latvia   5.07
236  2008                                            Latvia   5.71
237  2009                                            Latvia   5.59
238  2010                                            Latvia   4.96
239  2011                                            Latvia   4.96
240  2000                                         Lithuania   5.63
241  2001                                         Lithuania   5.86
242  2002                                         Lithuania   5.81
243  2003                                         Lithuania   5.14
244  2004                                         Lithuania   5.17
245  2005                                         Lithuania   4.88
246  2006                                         Lithuania   4.82
247  2007                                         Lithuania   4.64
248  2008                                         Lithuania   4.88
249  2009                                         Lithuania   5.64
250  2010                                         Lithuania   5.36
251  2011                                         Lithuania   5.17
252  2000                                        Luxembourg    NaN
253  2001                                        Luxembourg   3.75
254  2002                                        Luxembourg   3.79
255  2003                                        Luxembourg   3.77
256  2004                                        Luxembourg   3.87
257  2005                                        Luxembourg   3.78
258  2006                                        Luxembourg   3.41
259  2007                                        Luxembourg   3.15
260  2008                                        Luxembourg    NaN
261  2009                                        Luxembourg    NaN
262  2010                                        Luxembourg    NaN
263  2011                                        Luxembourg    NaN
264  2000                                           Hungary   4.50
265  2001                                           Hungary   5.06
266  2002                                           Hungary   5.39
267  2003                                           Hungary   5.91
268  2004                                           Hungary   5.44
269  2005                                           Hungary   5.46
270  2006                                           Hungary   5.44
271  2007                                           Hungary   5.29
272  2008                                           Hungary   5.10
273  2009                                           Hungary   5.12
274  2010                                           Hungary   4.90
275  2011                                           Hungary   4.71
276  2000                                             Malta   4.52
277  2001                                             Malta   4.27
278  2002                                             Malta   4.22
279  2003                                             Malta   4.48
280  2004                                             Malta   4.66
281  2005                                             Malta   6.58
282  2006                                             Malta   6.45
283  2007                                             Malta   6.18
284  2008                                             Malta   5.72
285  2009                                             Malta   5.32
286  2010                                             Malta   6.74
287  2011                                             Malta   7.96
288  2000                                       Netherlands   4.98
289  2001                                       Netherlands   5.09
290  2002                                       Netherlands   5.22
291  2003                                       Netherlands   5.47
292  2004                                       Netherlands   5.50
293  2005                                       Netherlands   5.53
294  2006                                       Netherlands   5.50
295  2007                                       Netherlands   5.32
296  2008                                       Netherlands   5.50

In [99]:
s = edu['Value'].apply(lambda d: d**2)
s.head()

0        NaN
1        NaN
2    25.0000
3    25.3009
4    24.5025
Name: Value, dtype: float64

In [104]:
# add a new column to a DataFrame
edu['ValueNorm'] = edu['Value'] / edu['Value'].max()
edu.tail()

     TIME      GEO  Value  ValueNorm
379  2007  Finland   5.90   0.669694
380  2008  Finland   6.10   0.692395
381  2009  Finland   6.81   0.772985
382  2010  Finland   6.85   0.777526
383  2011  Finland   6.76   0.767310

In [105]:
edu

     TIME                                               GEO  Value  ValueNorm
0    2000                     European Union (28 countries)    NaN        NaN
1    2001                     European Union (28 countries)    NaN        NaN
2    2002                     European Union (28 countries)   5.00   0.567537
3    2003                     European Union (28 countries)   5.03   0.570942
4    2004                     European Union (28 countries)   4.95   0.561862
5    2005                     European Union (28 countries)   4.92   0.558456
6    2006                     European Union (28 countries)   4.91   0.557321
7    2007                     European Union (28 countries)   4.92   0.558456
8    2008                     European Union (28 countries)   5.04   0.572077
9    2009                     European Union (28 countries)   5.38   0.610670
10   2010                     European Union (28 countries)   5.41   0.614075
11   2011                     European Union (28 countries)   5.25   0.595914
12   2000                     European Union (27 countries)   4.91   0.557321
13   2001                     European Union (27 countries)   4.99   0.566402
14   2002                     European Union (27 countries)   5.00   0.567537
15   2003                     European Union (27 countries)   5.04   0.572077
16   2004                     European Union (27 countries)   4.95   0.561862
17   2005                     European Union (27 countries)   4.92   0.558456
18   2006                     European Union (27 countries)   4.91   0.557321
19   2007                     European Union (27 countries)   4.93   0.559591
20   2008                     European Union (27 countries)   5.04   0.572077
21   2009                     European Union (27 countries)   5.38   0.610670
22   2010                     European Union (27 countries)   5.41   0.614075
23   2011                     European Union (27 countries)   5.25   0.595914
24   2000                     European Union (25 countries)   4.94   0.560726
25   2001                     European Union (25 countries)   5.02   0.569807
26   2002                     European Union (25 countries)   5.03   0.570942
27   2003                     European Union (25 countries)   5.06   0.574347
28   2004                     European Union (25 countries)   4.98   0.565267
29   2005                     European Union (25 countries)   4.95   0.561862
30   2006                     European Union (25 countries)   4.93   0.559591
31   2007                     European Union (25 countries)   4.95   0.561862
32   2008                     European Union (25 countries)   5.06   0.574347
33   2009                     European Union (25 countries)   5.41   0.614075
34   2010                     European Union (25 countries)   5.46   0.619750
35   2011                     European Union (25 countries)   5.31   0.602724
36   2000                          Euro area (18 countries)    NaN        NaN
37   2001                          Euro area (18 countries)    NaN        NaN
38   2002                          Euro area (18 countries)   4.87   0.552781
39   2003                          Euro area (18 countries)   4.89   0.555051
40   2004                          Euro area (18 countries)   4.80   0.544835
41   2005                          Euro area (18 countries)   4.72   0.535755
42   2006                          Euro area (18 countries)   4.69   0.532350
43   2007                          Euro area (18 countries)   4.79   0.543700
44   2008                          Euro area (18 countries)   4.94   0.560726
45   2009                          Euro area (18 countries)   5.31   0.602724
46   2010                          Euro area (18 countries)   5.28   0.599319
47   2011                          Euro area (18 countries)   5.15   0.584563
48   2000                          Euro area (17 countries)    NaN        NaN
49   2001                          Euro area (17 countries)    NaN        NaN
50   2002                          Euro area (17 countries)   4.86   0.551646
51   2003                          Euro area (17 countries)   4.89   0.555051
52   2004                          Euro area (17 countries)   4.80   0.544835
53   2005                          Euro area (17 countries)   4.72   0.535755
54   2006                          Euro area (17 countries)   4.69   0.532350
55   2007                          Euro area (17 countries)   4.79   0.543700
56   2008                          Euro area (17 countries)   4.94   0.560726
57   2009                          Euro area (17 countries)   5.31   0.602724
58   2010                          Euro area (17 countries)   5.28   0.599319
59   2011                          Euro area (17 countries)   5.15   0.584563
60   2000                          Euro area (15 countries)    NaN        NaN
61   2001                          Euro area (15 countries)   4.98   0.565267
62   2002                          Euro area (15 countries)   5.01   0.568672
63   2003                          Euro area (15 countries)   5.04   0.572077
64   2004                          Euro area (15 countries)   4.96   0.562997
65   2005                          Euro area (15 countries)   4.89   0.555051
66   2006                          Euro area (15 countries)   4.87   0.552781
67   2007                          Euro area (15 countries)   4.81   0.545970
68   2008                          Euro area (15 countries)   4.95   0.561862
69   2009                          Euro area (15 countries)   5.32   0.603859
70   2010                          Euro area (15 countries)   5.29   0.600454
71   2011                          Euro area (15 countries)   5.16   0.585698
72   2000                          Euro area (13 countries)    NaN        NaN
73   2001                          Euro area (13 countries)   4.97   0.564132
74   2002                          Euro area (13 countries)   5.00   0.567537
75   2003                          Euro area (13 countries)   5.04   0.572077
76   2004                          Euro area (13 countries)   4.95   0.561862
77   2005                          Euro area (13 countries)   4.89   0.555051
78   2006                          Euro area (13 countries)   4.87   0.552781
79   2007                          Euro area (13 countries)   4.80   0.544835
80   2008                          Euro area (13 countries)   4.94   0.560726
81   2009                          Euro area (13 countries)   5.32   0.603859
82   2010                          Euro area (13 countries)   5.28   0.599319
83   2011                          Euro area (13 countries)   5.15   0.584563
84   2000                                           Belgium    NaN        NaN
85   2001                                           Belgium   5.99   0.679909
86   2002                                           Belgium   6.09   0.691260
87   2003                                           Belgium   6.02   0.683314
88   2004                                           Belgium   5.95   0.675369
89   2005                                           Belgium   5.92   0.671964
90   2006                                           Belgium   5.98   0.678774
91   2007                                           Belgium   6.00   0.681044
92   2008                                           Belgium   6.43   0.729852
93   2009                                           Belgium   6.57   0.745743
94   2010                                           Belgium   6.58   0.746879
95   2011                                           Belgium   6.55   0.743473
96   2000                                          Bulgaria   3.88   0.440409
97   2001                                          Bulgaria   3.70   0.419977
98   2002                                          Bulgaria   3.94   0.447219
99   2003                                          Bulgaria   4.09   0.464245
100  2004                                          Bulgaria   4.40   0.499432
101  2005                                          Bulgaria   4.25   0.482406
102  2006                                          Bulgaria   4.04   0.458570
103  2007                                          Bulgaria   3.88   0.440409
104  2008                                          Bulgaria   4.44   0.503973
105  2009                                          Bulgaria   4.58   0.519864
106  2010                                          Bulgaria   4.10   0.465380
107  2011                                          Bulgaria   3.82   0.433598
108  2000                                    Czech Republic   3.83   0.434733
109  2001                                    Czech Republic   3.93   0.446084
110  2002                                    Czech Republic   4.15   0.471056
111  2003                                    Czech Republic   4.32   0.490352
112  2004                                    Czech Republic   4.20   0.476731
113  2005                                    Czech Republic   4.08   0.463110
114  2006                                    Czech Republic   4.42   0.501703
115  2007                                    Czech Republic   4.05   0.459705
116  2008                                    Czech Republic   3.92   0.444949
117  2009                                    Czech Republic   4.36   0.494892
118  2010                                    Czech Republic   4.25   0.482406
119  2011                                    Czech Republic   4.51   0.511918
120  2000                                           Denmark   8.28   0.939841
121  2001                                           Denmark   8.44   0.958002
122  2002                                           Denmark   8.44   0.958002
123  2003                                           Denmark   8.33   0.945516
124  2004                                           Denmark   8.43   0.956867
125  2005                                           Denmark   8.30   0.942111
126  2006                                           Denmark   7.97   0.904654
127  2007                                           Denmark   7.81   0.886493
128  2008                                           Denmark   7.68   0.871737
129  2009                                           Denmark   8.74   0.992054
130  2010                                           Denmark   8.81   1.000000
131  2011                                           Denmark   8.75   0.993190
132  2000  Germany (until 1990 former territory of the FRG)   4.45   0.505108
133  2001  Germany (until 1990 former territory of the FRG)   4.51   0.511918
134  2002  Germany (until 1990 former territory of the FRG)   4.72   0.535755
135  2003  Germany (until 1990 former territory of the FRG)   4.74   0.538025
136  2004  Germany (until 1990 former territory of the FRG)   4.62   0.524404
137  2005  Germany (until 1990 former territory of the FRG)   4.57   0.518729
138  2006  Germany (until 1990 former territory of the FRG)   4.43   0.502838
139  2007  Germany (until 1990 former territory of the FRG)   4.49   0.509648
140  2008  Germany (until 1990 former territory of the FRG)   4.57   0.518729
141  2009  Germany (until 1990 former territory of the FRG)   5.06   0.574347
142  2010  Germany (until 1990 former territory of the FRG)   5.08   0.576617
143  2011  Germany (until 1990 former territory of the FRG)   4.98   0.565267
144  2000                                           Estonia   5.57   0.632236
145  2001                                           Estonia   5.24   0.594779
146  2002                                           Estonia   5.47   0.620885
147  2003                                           Estonia   5.29   0.600454
148  2004                                           Estonia   4.92   0.558456
149  2005                                           Estonia   4.88   0.553916
150  2006                                           Estonia   4.70   0.533485
151  2007                                           Estonia   4.72   0.535755
152  2008                                           Estonia   5.61   0.636776
153  2009                                           Estonia   6.03   0.684449
154  2010                                           Estonia   5.66   0.642452
155  2011                                           Estonia   5.16   0.585698
156  2000                                           Ireland   4.29   0.486947
157  2001                                           Ireland   4.24   0.481271
158  2002                                           Ireland   4.27   0.484677
159  2003                                           Ireland   4.35   0.493757
160  2004                                           Ireland   4.66   0.528944
161  2005                                           Ireland   4.72   0.535755
162  2006                                           Ireland   4.73   0.536890
163  2007                                           Ireland   4.92   0.558456
164  2008                                           Ireland   5.67   0.643587
165  2009                                           Ireland   6.43   0.729852
166  2010                                           Ireland   6.41   0.727582
167  2011                                           Ireland   6.15   0.698070
168  2000                                            Greece   3.71   0.421112
169  2001                                            Greece   3.50   0.397276
170  2002                                            Greece   3.57   0.405221
171  2003                                            Greece   3.56   0.404086
172  2004                                            Greece   3.83   0.434733
173  2005                                            Greece   4.09   0.464245
174  2006                                            Greece    NaN        NaN
175  2007                                            Greece    NaN        NaN
176  2008                                            Greece    NaN        NaN
177  2009                                            Greece    NaN        NaN
178  2010                                            Greece    NaN        NaN
179  2011                                            Greece    NaN        NaN
180  2000                                             Spain   4.28   0.485812
181  2001                                             Spain   4.24   0.481271
182  2002                                             Spain   4.25   0.482406
183  2003                                             Spain   4.28   0.485812
184  2004                                             Spain   4.25   0.482406
185  2005                                             Spain   4.23   0.480136
186  2006                                             Spain   4.26   0.483541
187  2007                                             Spain   4.34   0.492622
188  2008                                             Spain   4.62   0.524404
189  2009                                             Spain   5.02   0.569807
190  2010                                             Spain   4.98   0.565267
191  2011                                             Spain   4.82   0.547106
192  2000                                            France   6.04   0.685585
193  2001                                            France   5.95   0.675369
194  2002                                            France   5.90   0.669694
195  2003                                            France   5.92   0.671964
196  2004                                            France   5.80   0.658343
197  2005                                            France   5.67   0.643587
198  2006                                            France   5.61   0.636776
199  2007                                            France   5.62   0.637911
200  2008                                            France   5.62   0.637911
201  2009                                            France   5.90   0.669694
202  2010                                            France   5.86   0.665153
203  2011                                            France   5.68   0.644722
204  2000                                             Italy   4.52   0.513053
205  2001                                             Italy   4.83   0.548241
206  2002                                             Italy   4.60   0.522134
207  2003                                             Italy   4.72   0.535755
208  2004                                             Italy   4.56   0.517594
209  2005                                             Italy   4.41   0.500568
210  2006                                             Italy   4.67   0.530079
211  2007                                             Italy   4.27   0.484677
212  2008                                             Italy   4.56   0.517594
213  2009                                             Italy   4.70   0.533485
214  2010                                             Italy   4.50   0.510783
215  2011                                             Italy   4.29   0.486947
216  2000                                            Cyprus   5.42   0.615210
217  2001                                            Cyprus   5.98   0.678774
218  2002                                            Cyprus   6.60   0.749149
219  2003                                            Cyprus   7.37   0.836549
220  2004                                            Cyprus   6.77   0.768445
221  2005                                            Cyprus   6.95   0.788876
222  2006                                            Cyprus   7.02   0.796822
223  2007                                            Cyprus   6.95   0.788876
224  2008                                            Cyprus   7.45   0.845630
225  2009                                            Cyprus   7.98   0.905789
226  2010                                            Cyprus   7.92   0.898978
227  2011                                            Cyprus   7.87   0.893303
228  2000                                            Latvia   5.64   0.640182
229  2001                                            Latvia   7.22   0.819523
230  2002                                            Latvia   6.60   0.749149
231  2003                                            Latvia   5.58   0.633371
232  2004                                            Latvia   5.12   0.581158
233  2005                                            Latvia   5.14   0.583428
234  2006                                            Latvia   5.13   0.582293
235  2007                                            Latvia   5.07   0.575482
236  2008                                            Latvia   5.71   0.648127
237  2009                                            Latvia   5.59   0.634506
238  2010                                            Latvia   4.96   0.562997
239  2011                                            Latvia   4.96   0.562997
240  2000                                         Lithuania   5.63   0.639047
241  2001                                         Lithuania   5.86   0.665153
242  2002                                         Lithuania   5.81   0.659478
243  2003                                         Lithuania   5.14   0.583428
244  2004                                         Lithuania   5.17   0.586833
245  2005                                         Lithuania   4.88   0.553916
246  2006                                         Lithuania   4.82   0.547106
247  2007                                         Lithuania   4.64   0.526674
248  2008                                         Lithuania   4.88   0.553916
249  2009                                         Lithuania   5.64   0.640182
250  2010                                         Lithuania   5.36   0.608400
251  2011                                         Lithuania   5.17   0.586833
252  2000                                        Luxembourg    NaN        NaN
253  2001                                        Luxembourg   3.75   0.425653
254  2002                                        Luxembourg   3.79   0.430193

In [108]:
# remove this column from the DataFrame
# rows(axis=0), columns(axis=1) 
# inplace = False (default), inplace=True (change original DataFrame)
edu.drop('ValueNorm', axis=1, inplace=True)
edu.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

In [109]:
edu

     TIME                                               GEO  Value
0    2000                     European Union (28 countries)    NaN
1    2001                     European Union (28 countries)    NaN
2    2002                     European Union (28 countries)   5.00
3    2003                     European Union (28 countries)   5.03
4    2004                     European Union (28 countries)   4.95
5    2005                     European Union (28 countries)   4.92
6    2006                     European Union (28 countries)   4.91
7    2007                     European Union (28 countries)   4.92
8    2008                     European Union (28 countries)   5.04
9    2009                     European Union (28 countries)   5.38
10   2010                     European Union (28 countries)   5.41
11   2011                     European Union (28 countries)   5.25
12   2000                     European Union (27 countries)   4.91
13   2001                     European Union (27 countries)   4.99
14   2002                     European Union (27 countries)   5.00
15   2003                     European Union (27 countries)   5.04
16   2004                     European Union (27 countries)   4.95
17   2005                     European Union (27 countries)   4.92
18   2006                     European Union (27 countries)   4.91
19   2007                     European Union (27 countries)   4.93
20   2008                     European Union (27 countries)   5.04
21   2009                     European Union (27 countries)   5.38
22   2010                     European Union (27 countries)   5.41
23   2011                     European Union (27 countries)   5.25
24   2000                     European Union (25 countries)   4.94
25   2001                     European Union (25 countries)   5.02
26   2002                     European Union (25 countries)   5.03
27   2003                     European Union (25 countries)   5.06
28   2004                     European Union (25 countries)   4.98
29   2005                     European Union (25 countries)   4.95
30   2006                     European Union (25 countries)   4.93
31   2007                     European Union (25 countries)   4.95
32   2008                     European Union (25 countries)   5.06
33   2009                     European Union (25 countries)   5.41
34   2010                     European Union (25 countries)   5.46
35   2011                     European Union (25 countries)   5.31
36   2000                          Euro area (18 countries)    NaN
37   2001                          Euro area (18 countries)    NaN
38   2002                          Euro area (18 countries)   4.87
39   2003                          Euro area (18 countries)   4.89
40   2004                          Euro area (18 countries)   4.80
41   2005                          Euro area (18 countries)   4.72
42   2006                          Euro area (18 countries)   4.69
43   2007                          Euro area (18 countries)   4.79
44   2008                          Euro area (18 countries)   4.94
45   2009                          Euro area (18 countries)   5.31
46   2010                          Euro area (18 countries)   5.28
47   2011                          Euro area (18 countries)   5.15
48   2000                          Euro area (17 countries)    NaN
49   2001                          Euro area (17 countries)    NaN
50   2002                          Euro area (17 countries)   4.86
51   2003                          Euro area (17 countries)   4.89
52   2004                          Euro area (17 countries)   4.80
53   2005                          Euro area (17 countries)   4.72
54   2006                          Euro area (17 countries)   4.69
55   2007                          Euro area (17 countries)   4.79
56   2008                          Euro area (17 countries)   4.94
57   2009                          Euro area (17 countries)   5.31
58   2010                          Euro area (17 countries)   5.28
59   2011                          Euro area (17 countries)   5.15
60   2000                          Euro area (15 countries)    NaN
61   2001                          Euro area (15 countries)   4.98
62   2002                          Euro area (15 countries)   5.01
63   2003                          Euro area (15 countries)   5.04
64   2004                          Euro area (15 countries)   4.96
65   2005                          Euro area (15 countries)   4.89
66   2006                          Euro area (15 countries)   4.87
67   2007                          Euro area (15 countries)   4.81
68   2008                          Euro area (15 countries)   4.95
69   2009                          Euro area (15 countries)   5.32
70   2010                          Euro area (15 countries)   5.29
71   2011                          Euro area (15 countries)   5.16
72   2000                          Euro area (13 countries)    NaN
73   2001                          Euro area (13 countries)   4.97
74   2002                          Euro area (13 countries)   5.00
75   2003                          Euro area (13 countries)   5.04
76   2004                          Euro area (13 countries)   4.95
77   2005                          Euro area (13 countries)   4.89
78   2006                          Euro area (13 countries)   4.87
79   2007                          Euro area (13 countries)   4.80
80   2008                          Euro area (13 countries)   4.94
81   2009                          Euro area (13 countries)   5.32
82   2010                          Euro area (13 countries)   5.28
83   2011                          Euro area (13 countries)   5.15
84   2000                                           Belgium    NaN
85   2001                                           Belgium   5.99
86   2002                                           Belgium   6.09
87   2003                                           Belgium   6.02
88   2004                                           Belgium   5.95
89   2005                                           Belgium   5.92
90   2006                                           Belgium   5.98
91   2007                                           Belgium   6.00
92   2008                                           Belgium   6.43
93   2009                                           Belgium   6.57
94   2010                                           Belgium   6.58
95   2011                                           Belgium   6.55
96   2000                                          Bulgaria   3.88
97   2001                                          Bulgaria   3.70
98   2002                                          Bulgaria   3.94
99   2003                                          Bulgaria   4.09
100  2004                                          Bulgaria   4.40
101  2005                                          Bulgaria   4.25
102  2006                                          Bulgaria   4.04
103  2007                                          Bulgaria   3.88
104  2008                                          Bulgaria   4.44
105  2009                                          Bulgaria   4.58
106  2010                                          Bulgaria   4.10
107  2011                                          Bulgaria   3.82
108  2000                                    Czech Republic   3.83
109  2001                                    Czech Republic   3.93
110  2002                                    Czech Republic   4.15
111  2003                                    Czech Republic   4.32
112  2004                                    Czech Republic   4.20
113  2005                                    Czech Republic   4.08
114  2006                                    Czech Republic   4.42
115  2007                                    Czech Republic   4.05
116  2008                                    Czech Republic   3.92
117  2009                                    Czech Republic   4.36
118  2010                                    Czech Republic   4.25
119  2011                                    Czech Republic   4.51
120  2000                                           Denmark   8.28
121  2001                                           Denmark   8.44
122  2002                                           Denmark   8.44
123  2003                                           Denmark   8.33
124  2004                                           Denmark   8.43
125  2005                                           Denmark   8.30
126  2006                                           Denmark   7.97
127  2007                                           Denmark   7.81
128  2008                                           Denmark   7.68
129  2009                                           Denmark   8.74
130  2010                                           Denmark   8.81
131  2011                                           Denmark   8.75
132  2000  Germany (until 1990 former territory of the FRG)   4.45
133  2001  Germany (until 1990 former territory of the FRG)   4.51
134  2002  Germany (until 1990 former territory of the FRG)   4.72
135  2003  Germany (until 1990 former territory of the FRG)   4.74
136  2004  Germany (until 1990 former territory of the FRG)   4.62
137  2005  Germany (until 1990 former territory of the FRG)   4.57
138  2006  Germany (until 1990 former territory of the FRG)   4.43
139  2007  Germany (until 1990 former territory of the FRG)   4.49
140  2008  Germany (until 1990 former territory of the FRG)   4.57
141  2009  Germany (until 1990 former territory of the FRG)   5.06
142  2010  Germany (until 1990 former territory of the FRG)   5.08
143  2011  Germany (until 1990 former territory of the FRG)   4.98
144  2000                                           Estonia   5.57
145  2001                                           Estonia   5.24
146  2002                                           Estonia   5.47
147  2003                                           Estonia   5.29
148  2004                                           Estonia   4.92
149  2005                                           Estonia   4.88
150  2006                                           Estonia   4.70
151  2007                                           Estonia   4.72
152  2008                                           Estonia   5.61
153  2009                                           Estonia   6.03
154  2010                                           Estonia   5.66
155  2011                                           Estonia   5.16
156  2000                                           Ireland   4.29
157  2001                                           Ireland   4.24
158  2002                                           Ireland   4.27
159  2003                                           Ireland   4.35
160  2004                                           Ireland   4.66
161  2005                                           Ireland   4.72
162  2006                                           Ireland   4.73
163  2007                                           Ireland   4.92
164  2008                                           Ireland   5.67
165  2009                                           Ireland   6.43
166  2010                                           Ireland   6.41
167  2011                                           Ireland   6.15
168  2000                                            Greece   3.71
169  2001                                            Greece   3.50
170  2002                                            Greece   3.57
171  2003                                            Greece   3.56
172  2004                                            Greece   3.83
173  2005                                            Greece   4.09
174  2006                                            Greece    NaN
175  2007                                            Greece    NaN
176  2008                                            Greece    NaN
177  2009                                            Greece    NaN
178  2010                                            Greece    NaN
179  2011                                            Greece    NaN
180  2000                                             Spain   4.28
181  2001                                             Spain   4.24
182  2002                                             Spain   4.25
183  2003                                             Spain   4.28
184  2004                                             Spain   4.25
185  2005                                             Spain   4.23
186  2006                                             Spain   4.26
187  2007                                             Spain   4.34
188  2008                                             Spain   4.62
189  2009                                             Spain   5.02
190  2010                                             Spain   4.98
191  2011                                             Spain   4.82
192  2000                                            France   6.04
193  2001                                            France   5.95
194  2002                                            France   5.90
195  2003                                            France   5.92
196  2004                                            France   5.80
197  2005                                            France   5.67
198  2006                                            France   5.61
199  2007                                            France   5.62
200  2008                                            France   5.62
201  2009                                            France   5.90
202  2010                                            France   5.86
203  2011                                            France   5.68
204  2000                                             Italy   4.52
205  2001                                             Italy   4.83
206  2002                                             Italy   4.60
207  2003                                             Italy   4.72
208  2004                                             Italy   4.56
209  2005                                             Italy   4.41
210  2006                                             Italy   4.67
211  2007                                             Italy   4.27
212  2008                                             Italy   4.56
213  2009                                             Italy   4.70
214  2010                                             Italy   4.50
215  2011                                             Italy   4.29
216  2000                                            Cyprus   5.42
217  2001                                            Cyprus   5.98
218  2002                                            Cyprus   6.60
219  2003                                            Cyprus   7.37
220  2004                                            Cyprus   6.77
221  2005                                            Cyprus   6.95
222  2006                                            Cyprus   7.02
223  2007                                            Cyprus   6.95
224  2008                                            Cyprus   7.45
225  2009                                            Cyprus   7.98
226  2010                                            Cyprus   7.92
227  2011                                            Cyprus   7.87
228  2000                                            Latvia   5.64
229  2001                                            Latvia   7.22
230  2002                                            Latvia   6.60
231  2003                                            Latvia   5.58
232  2004                                            Latvia   5.12
233  2005                                            Latvia   5.14
234  2006                                            Latvia   5.13
235  2007                                            Latvia   5.07
236  2008                                            Latvia   5.71
237  2009                                            Latvia   5.59
238  2010                                            Latvia   4.96
239  2011                                            Latvia   4.96
240  2000                                         Lithuania   5.63
241  2001                                         Lithuania   5.86
242  2002                                         Lithuania   5.81
243  2003                                         Lithuania   5.14
244  2004                                         Lithuania   5.17
245  2005                                         Lithuania   4.88
246  2006                                         Lithuania   4.82
247  2007                                         Lithuania   4.64
248  2008                                         Lithuania   4.88
249  2009                                         Lithuania   5.64
250  2010                                         Lithuania   5.36
251  2011                                         Lithuania   5.17
252  2000                                        Luxembourg    NaN
253  2001                                        Luxembourg   3.75
254  2002                                        Luxembourg   3.79
255  2003                                        Luxembourg   3.77
256  2004                                        Luxembourg   3.87
257  2005                                        Luxembourg   3.78
258  2006                                        Luxembourg   3.41
259  2007                                        Luxembourg   3.15
260  2008                                        Luxembourg    NaN
261  2009                                        Luxembourg    NaN
262  2010                                        Luxembourg    NaN
263  2011                                        Luxembourg    NaN
264  2000                                           Hungary   4.50
265  2001                                           Hungary   5.06
266  2002                                           Hungary   5.39
267  2003                                           Hungary   5.91
268  2004                                           Hungary   5.44
269  2005                                           Hungary   5.46
270  2006                                           Hungary   5.44
271  2007                                           Hungary   5.29
272  2008                                           Hungary   5.10
273  2009                                           Hungary   5.12
274  2010                                           Hungary   4.90
275  2011                                           Hungary   4.71
276  2000                                             Malta   4.52
277  2001                                             Malta   4.27
278  2002                                             Malta   4.22
279  2003                                             Malta   4.48
280  2004                                             Malta   4.66
281  2005                                             Malta   6.58
282  2006                                             Malta   6.45
283  2007                                             Malta   6.18
284  2008                                             Malta   5.72
285  2009                                             Malta   5.32
286  2010                                             Malta   6.74
287  2011                                             Malta   7.96
288  2000                                       Netherlands   4.98
289  2001                                       Netherlands   5.09
290  2002                                       Netherlands   5.22
291  2003                                       Netherlands   5.47
292  2004                                       Netherlands   5.50
293  2005                                       Netherlands   5.53
294  2006                                       Netherlands   5.50
295  2007                                       Netherlands   5.32
296  2008                                       Netherlands   5.50

In [110]:
# insert a new row
# ignore_index=True, otherwise the index 0
edu = edu.append({'TIME': 2000, 'Value': 5.00, 'GEO': 'a'}, ignore_index=True)
edu.tail()

/var/folders/b1/p4lqt35d7gl61cs05z1pf7l00000gn/T/ipykernel_3728/1131353661.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  edu = edu.append({'TIME': 2000, 'Value': 5.00, 'GEO': 'a'}, ignore_index=True)

     TIME      GEO  Value
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76
384  2000        a   5.00

In [111]:
# remove row(axis=0)
# inplace = False (default), inplace=True (change original DataFrame)
edu.drop(max(edu.index), axis=0, inplace=True)
edu.tail()

     TIME      GEO  Value
379  2007  Finland   5.90
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76

In [112]:
# to clear data frame
edu.drop(edu.index, inplace=False)

Empty DataFrame
Columns: [TIME, GEO, Value]
Index: []

In [124]:
teams = {'year': [2010, 2011, 2012],
        'team': ['FCBarcelona','RMadrid','ValenciaCF']}

football2 = pd.DataFrame(teams, columns = ['year', 'team', 'wins'])
football2

   year         team wins
0  2010  FCBarcelona  NaN
1  2011      RMadrid  NaN
2  2012   ValenciaCF  NaN

In [125]:
from numpy import nan 
football2['wins'][0] = 12
football2['team'][1] = nan
football2['year'][1] = nan
football2

/var/folders/b1/p4lqt35d7gl61cs05z1pf7l00000gn/T/ipykernel_3728/2696450265.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  football2['wins'][0] = 12
/var/folders/b1/p4lqt35d7gl61cs05z1pf7l00000gn/T/ipykernel_3728/2696450265.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  football2['team'][1] = nan
/var/folders/b1/p4lqt35d7gl61cs05z1pf7l00000gn/T/ipykernel_3728/2696450265.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  football2['year'][1] = nan

     year         team wins
0  2010.0  FCBarcelona   12
1     NaN          NaN  NaN
2  2012.0   ValenciaCF  NaN

In [131]:
x = football2.dropna(thresh=1, axis=0)
x

     year         team wins
0  2010.0  FCBarcelona   12
2  2012.0   ValenciaCF  NaN

In [116]:
# how = all : if all values are NA, drop that label
football2Drop = football2.dropna(how='all', axis=0)
football2Drop.head()

     year         team wins
0  2010.0  FCBarcelona   12
2  2012.0   ValenciaCF  NaN

In [117]:
# how = any : if any NA values are present, drop that label
football3Drop = football2.dropna(how='any', axis=0)
football3Drop.head()

     year         team wins
0  2010.0  FCBarcelona   12

In [118]:
 edu.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

In [119]:
eduFilled = edu.fillna(value={'Value': 0})
eduFilled.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)   0.00
1  2001  European Union (28 countries)   0.00
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

# Sorting

In [120]:
edu.sort_values(by='Value', ascending=False, inplace=True)
edu.head()

     TIME      GEO  Value
130  2010  Denmark   8.81
131  2011  Denmark   8.75
129  2009  Denmark   8.74
121  2001  Denmark   8.44
122  2002  Denmark   8.44

In [121]:
# to return to the original order, we can sort by an index using the sort_index and axis=0
edu.sort_index(axis=0, ascending=True, inplace=True)
edu.head()

   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95

# Grouping Data

In [122]:
# like group by in sql
group = edu[['GEO', 'Value']].groupby('GEO').mean()
group.head()

                   Value
GEO
Austria         5.618333
Belgium         6.189091
Bulgaria        4.093333
Cyprus          7.023333
Czech Republic  4.168333

# Resources
- Chapter 2, Introduction to Data Science by Laura Igual and Santi Seguí
    - https://github.com/DataScienceUB/introduction-datascience-python-book 
- pandas Documentation: https://pandas.pydata.org/